.table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid white;
    text-align: left;
  }
  
  .headerRow {
    background-color: #cee7ff; 
    color: black;
    height: 25px;
  }

  .bodyRow{
    background-color: #203850;
  }